/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
 font-size: 12pt;
}
span.rvts7
{
 font-size: 12pt;
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-size: 12pt;
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-size: 12pt;
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 font-size: 12pt;
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts12 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts13, span.rvts13 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts14
{
 font-size: 12pt;
 font-style: italic;
}
a.rvts15, span.rvts15
{
 font-size: 12pt;
 text-decoration: none;
}
a.rvts16, span.rvts16
{
 font-size: 12pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts17
{
 font-size: 16pt;
 font-weight: bold;
}
span.rvts18
{
 font-weight: bold;
}
span.rvts19
{
 font-size: 12pt;
 font-family: Symbola, 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
 font-style: italic;
}
span.rvts20
{
 font-size: 8pt;
 vertical-align: sub;
}
span.rvts21
{
 font-size: 8pt;
 font-style: italic;
 vertical-align: sub;
}
span.rvts22
{
 font-size: 12pt;
 font-weight: bold;
}
span.rvts23
{
 font-size: 12pt;
}
a.rvts24, span.rvts24
{
 font-size: 12pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts25
{
 font-size: 12pt;
}
span.rvts26
{
 font-size: 12pt;
 font-weight: bold;
}
span.rvts27
{
 font-family: 'Segoe UI';
 text-transform: uppercase;
}
span.rvts28
{
 font-size: 12pt;
 font-weight: bold;
}
span.rvts29
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts30
{
 font-size: 12pt;
 font-style: italic;
}
span.rvts31
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 text-transform: uppercase;
}
a.rvts32, span.rvts32
{
 font-size: 12pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts33
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts34
{
 font-size: 12pt;
 background-color: #ffff00;
}
a.rvts35, span.rvts35
{
 font-size: 12pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts36, span.rvts36
{
 font-size: 12pt;
 font-style: italic;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts37, span.rvts37
{
 font-size: 12pt;
 text-decoration: none;
}
span.rvts38
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-style: italic;
}
span.rvts39
{
 font-family: 'Courier New', 'Courier', monospace;
 font-style: italic;
}
span.rvts40
{
 font-size: 12pt;
 font-weight: bold;
}
span.rvts41
{
 font-size: 12pt;
}
a.rvts42, span.rvts42
{
 font-size: 12pt;
 text-decoration: none;
}
span.rvts43
{
 font-size: 12pt;
 font-style: italic;
}
span.rvts44
{
 font-size: 8pt;
 vertical-align: sub;
}
span.rvts45
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
}
a.rvts46, span.rvts46
{
 font-size: 12pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts47
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-style: italic;
}
span.rvts48
{
 font-family: 'Courier New', 'Courier', monospace;
}
a.rvts49, span.rvts49
{
 font-size: 12pt;
 font-style: italic;
 text-decoration: none;
}
span.rvts50
{
 font-size: 11pt;
 font-weight: bold;
}
span.rvts51
{
 font-size: 9pt;
 font-weight: bold;
}
span.rvts52
{
 font-size: 12pt;
 font-style: italic;
 font-weight: bold;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 6px 0px;
}
.rvps3
{
 text-align: center;
 margin: 0px 0px 6px 0px;
}
.rvps4 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps5
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps6
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 break-after: avoid;
 margin: 16px 0px 4px 20px;
}
.rvps7
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #000080;
 border-style: solid;
 border-width: 5px;
 border-top: none;
 border-right: none;
 border-bottom: none;
 padding: 5px 0px 1px 5px;
 margin: 0px 0px 4px 25px;
}
.rvps8
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 border-color: #3366ff;
 border-style: solid;
 border-width: 5px;
 border-top: none;
 border-right: none;
 border-bottom: none;
 padding: 5px 0px 1px 5px;
 margin: 0px 0px 4px 25px;
}
.rvps9
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 background: #d5d5d5;
 padding: 5px 5px 5px 5px;
 margin: 0px 0px 0px 25px;
}
.rvps10
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 background: #d5d5d5;
 padding: 5px 5px 5px 5px;
}
.rvps11
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 6px 38px;
}
.rvps12
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: -24px;
 padding: 0px 0px 0px 24px;
}
.rvps13
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 6px 62px;
}
.rvps14
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps15
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 6px 0px;
}
.rvps16
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 6px 24px;
}
.rvps17
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 6px 48px;
}
.rvps18
{
 line-height: 1.38;
 margin: 0px 0px 13px 0px;
}
.rvps19
{
 margin: 0px 0px 0px 1px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
li.noindent { margin-left: 0; padding-left: 0; }
